@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<div class="container mt-5">
    <div class="row justify-content-center align-content-center">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <img src="~/images/404.png" />
            <h4 style="color: red;">Error 404 - página no encontrada</h4>
            <h5>La página que solicitaste no se pudo encontrar</h5>
        </div>
    </div>
</div>

